<header>
<!-- Fixed navbar -->
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end">
    <a class="navbar-brand" href="/home">TomperoApp</a>
    <ul class="navbar-nav text-left">
      <li class="nav-item active">
        <a class="nav-link" href="#">Cardápio</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 ml-auto">
      <input class="form-control" type="search" placeholder="Pesquise por receitas, pessoas, etc ..." aria-label="Pesquise por receitas, pessoas, etc ..."/>
      <button class="btn btn-success btn-md my-2 my-sm-0 ml-3" type="submit">Encontrar</button>
    </form>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
      <ul class="navbar-nav text-right">        
        <li class="nav-item active">
          <a class="nav-link" href="/">Sair</a>
        </li>
      </ul>
    </div>
  </nav>  
</header>