
<!doctype html>
<html lang="pt-br">
  <head>
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

<title>TomperoApp</title>    

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
<!-- Custom styles for this template -->
	<style type="text/css">
	/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/*--------------------------------------------------- */

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.container-new input[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #FF8C00;
    border: 0;
    box-sizing: border-box;
    margin-bottom: 15px;
    cursor: pointer;
    font-weight: bold;
    color: #FFFFFF;
}

.file{
    display: none;
}
	</style>


  </head>

  <body>
	<% include partials/menu %>
	<!-- Begin page content -->
    <main role="main" class="container">
    <div class="container mt-5 mb-5">
	<div class="row mb-3">
		<div class="col-md-3">
			
			<div class="card flex-md-row mb-4 box-shadow h-md-250">
	            <div class="card-body d-flex flex-column align-items-start">
					<%if (account[0].photo) { %>
					<img src="img/<%=account[0].photo%>" class="rounded-circle img-thumbnail">					
					<%} else { %>
					<img src="img/null.svg" class="rounded-circle img-thumbnail">
					<%} %>	            	
					<strong class="d-inline-block mb-2 text-primary"><%=account[0].fullname%></strong>
					<h3 class="mb-0">
						<a class="text-dark" href="#"><%=account[0].profile%></a>
					</h3>
					<%if (account[0].idade) { %>
					<div class="mb-1 text-muted"><%=account[0].idade%> anos</div>
					<%} %>
					<p class="card-text mb-auto"><%=account[0].description%></p>
					<a href="/profile">Editar</a>
	            </div>	                           
          	</div>
			
		</div>
		<div class="col-md-6">
      <!--- \\\\\\\Post-->      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <form action="post" method="POST" class="form-post" enctype="multipart/form-data">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Escreva sua receita</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">              
                <div class="form-group">
                  <input type="text" class="form-control" name="title" placeholder="Título da receita" required=""/>
                </div>
                <div class="form-group">
                  <label for="message">Escreva a sua receita aqui e edite da forma que quiser !</label>
                  <textarea class="form-control" id="message" name="message" rows="3"></textarea>
                </div>
                <!--<div class="form-row">
                  <input class="form-control" type="number" id="porcoes" placeholder="Porções"/>
                  <div class="form-group input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input name="username" class="form-control" placeholder="Usuário" type="text" required/>
                  </div>
                </div>-->
				<div class="form-row">
					<div class="form-group input-group col-md-6">
					  <div class="input-group-prepend">
						<span class="input-group-text"> <i class="fa fa-balance-scale"></i> </span>
					  </div>
					  <input class="form-control" type="number" id="porcoes" placeholder="Porções"/>
					</div>
					<div class="form-group input-group col-md-6">
					  <div class="input-group-prepend">
						<span class="input-group-text"> <i class="fa fa-clock-o"></i> </span>
					  </div>
					  <input class="form-control" type="number" id="preparo" placeholder="Tempo de preparo"/>
					  <div class="input-group-append">
						<span class="input-group-text" id="basic-addon2">minutos</span>
					  </div>
					</div>
				</div>
                <div class="form-group">                  
                    <input type="file" name="file" class="file" accept="image/*" />
                      <div class="input-group my-3">
                        <input type="text" class="form-control" placeholder="Adicionar Imagem" id="file" disabled/>
                        <div class="input-group-append">
                          <button type="button" class="browse btn btn-primary">Procurar...</button>
                        </div>
                      </div>                    
                </div>
            <div class="ml-2 col-sm-6">
              <img src="https://placehold.it/80x80" id="preview" class="img-thumbnail"/>
            </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
              <button type="submit" class="btn btn-primary">Publicar</button>
            </div>
            </form>
          </div>
        </div>
      </div>
      <div class="card gedf-card">        
        <div class="card-header">
          <h5 class="card-title">Mostre suas receitas para o mundo</h5>          
        </div>
          <div class="card-body">
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#exampleModal">
                  Escreva a sua receita
                </button>
              </div>              
            </div>            
        </div>        
      </div>
      <!-- Post /////-->
			<br>
			<h4>Feed</h4>
			<ul class="timeline">
				<% for(var i = 0; i < feed.length; i++){ %>
				<li>
					<a href="/profile/<%= feed[i].id_account %>"><%= feed[i].fullname %></a>
					<a href="#" class="float-right"><%= feed[i].date_post %></a>
					<div class="card sticky-top" style="margin:0; border: none !important;">
                        <%- feed[i].post %>
						<%if (feed[i].photo) { %>
						<img src="img/<%=feed[i].photo%>" class="img-thumbnail">
						<%}%>
					</div>
				</li>
				<% } %>				
			</ul>
		</div>
		<div class="col-md-3">
			<div class="card flex-md-row mb-4 box-shadow h-md-250">
	      <div class="card-body d-flex flex-column align-items-start">
		      <strong class="d-inline-block mb-2 text-primary">Prato do dia</strong>
		      <h3 class="mb-0">
		        <a class="text-dark" href="#">Érick Jacquin</a>
		      </h3>
		      <div class="mb-1 text-muted">TARTAR DE SALMÃO</div>
		      <p class="card-text mb-auto">Com manga, ervas frescas e limão siciliano</p>
		      <a href="#">Continue lendo</a>
	      </div>            
      </div>
		</div>
	</div>
	</div>         
</main>

    <footer class="footer">
      <div class="container">
        <!-- FOOTER -->
      </div>
    </footer>
    <!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdn.tiny.cloud/1/zzgkk1robyv67zs6y42cj2ci3g6ktu1rt3xml0sb2956sb7y/tinymce/5/tinymce.min.js"></script>
<script>
tinymce.init({
  menubar: false,
  toolbar: 'undo redo | ' +
  ' bold italic backcolor | alignleft aligncenter ' +
  ' alignright alignjustify | bullist numlist outdent indent |' +
  ' removeformat ',
  selector:'textarea'
  });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>  
  $('#customFile').on('change',function(){
  //get the file name
  var fileName = $(this).val();
  var res = fileName.substring(12);
  //replace the "Choose a file" label
  $(this).next('.custom-file-label').html(res);
  })
  //---------
  $(document).on("click", ".browse", function() {
  var file = $(this).parents().find(".file");
  file.trigger("click");
  });
  $('input[type="file"]').change(function(e) {
  var fileName = e.target.files[0].name;
  $("#file").val(fileName);

  var reader = new FileReader();
  reader.onload = function(e) {
  // get loaded data and render thumbnail.
  document.getElementById("preview").src = e.target.result;
  };
  // read the image file as a data URL.
  reader.readAsDataURL(this.files[0]);
  });
</script>
  </body>
</html>
