<!DOCTYPE html>
<html>
<head>
     <title>TomperoApp</title>
     <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
     <div id="historico_mensagens"></div>
     <form id=’chat’>
         <input type='text' id='texto_mensagem' name='texto_mensagem' />
         <input type='submit' value='Enviar mensagem!' />    
     </form>

</body>
</html>
