<!doctype html>
<html lang="pt-br">
	<head>
		<% include partials/head %>
	</head>

	<body>
		<% include partials/menu %>
		<main role="main" class="container">
	    <div class="container mt-5 mb-5">
		<div class="row mb-3">
			<div class="col-md-3">		
				
				<div class="card flex-md-row mb-4 box-shadow h-md-250">
		            <div class="card-body d-flex flex-column align-items-start">
						<%if (account[0].photo) { %>
						<img src="img/<%=account[0].photo%>" class="rounded-circle img-thumbnail">					
						<%} else { %>
						<img src="img/null.svg" class="rounded-circle img-thumbnail">
						<%} %>
						<div class="form-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" name="file" id="customFile">
                                <label class="custom-file-label" for="customFile">Imagem</label>
                            </div>
                        </div>
                        <div class="btn-toolbar justify-content-between">
                            <div class="btn-group">
                                <button type="submit" class="btn btn-primary">Publicar</button>
                            </div>
                        </div>
		            </div>	                           
	          	</div>
				
			</div>
			<div class="col-md-6" style="border: none !important;">
				<!--- \\\\\\\Post-->
	                <div class="card gedf-card" style="border: none !important;">
						<div class="input-group mb-3">
						    <div class="input-group-prepend">
						    	<span class="input-group-text"> <i class="fa fa-user"></i></span>
						  	</div>
						  	<input type="text" name="fullname" class="form-control" placeholder="Nome completo" aria-label="Nome completo" aria-describedby="basic-addon1">
						</div>

						<div class="input-group mb-3">
							<div class="input-group-append">
						    	<span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
						  	</div>
						  	<input type="email" name="email" class="form-control" placeholder="E-mail" aria-label="E-mail" aria-describedby="basic-addon2">			  	
						</div>
						<div class="input-group">
						  	<div class="input-group-prepend">
							    <span class="input-group-text">Descrição</span>
						  	</div>
						  	<textarea class="form-control" name="description" aria-label="Descrição"></textarea>
						</div>
						</br>
						<label for="basic-url">Dados de acesso</label>			
						<div class="input-group mb-3">
						  	<div class="input-group-prepend">
						  		<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
						  	</div>
						  	<input type="text" name="username" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="Usuário">
						</div>

						<div class="input-group mb-3">
						  	<div class="input-group-prepend">
						    	<span class="input-group-text">$</span>
						  	</div>
						  	<input type="text" class="form-control" placeholder="Senha" name="password" aria-label="Senha">		  	
						</div>
	                </div>
	                <!-- Post /////-->		
			</div>		
		</div>
		</div>         
	    </main>

    <footer class="footer">
      <div class="container">
        <!-- FOOTER -->
      </div>
    </footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>    
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> 
	<script>
        $('#customFile').on('change',function(){
            //get the file name
            var fileName = $(this).val();            
  			var res = fileName.slice(0, 12);
            //replace the "Choose a file" label
            $(this).next('.custom-file-label').html(res);
        })
    </script>
	</body>
</html>