<!DOCTYPE html>
<html>
<head>
  <% include partials/head %>
</head>

<body>
<br/>
<br/>
<br/>
<br/>
<% include partials/menu %>
  <div class="card-columns">
  <!-- -->
  <% for(var i = 0; i < feed.length; i++){ %>
  <div class="card border-dark mb-3">
	<%if (feed[i].photo) { %>
	<img class="card-img-top" src="img/<%=feed[i].photo%>" alt="Card image cap">
	<% } %>
	<div class="card-body">
	  <h5 class="card-title"><%= feed[i].title %></h5>
	  <p class="card-text"><%- feed[i].post %></p>
	</div>
  </div>
  <% } %>
  </div>
<footer class="footer">
      <div class="container">
        <!-- FOOTER -->
      </div>
    </footer>
    <% include partials/footer %>
  </body>
</html>
